@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="db-wrapper uk-margin-remove" uk-grid>
    <div class="uk-width-large uk-height-viewport uk-position-relative uk-padding-remove uk-background-muted">
        <div class="top uk-width-1-1 uk-margin-remove " uk-grid>
            <div class="uk-width-small uk-height-1-1  uk-padding-small ">
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-small-top">Item</div>
                </div>
            </div>
            <div class="uk-width-expand uk-height-1-1"></div>
        </div>
        <div class="bottom-left uk-width-1-1 uk-background-secondary  uk-height-small"></div>
    </div>
        
    <div class="uk-width-expand uk-background-default uk-padding uk-height-viewport">
    </div>
</div>

